{% include './head.html %}
<body class="text-center">
    <div class="container-fluid">
        {% include './navbar.html' %}
        <h1>GDP of {{country}}, {{year}}</h1>
        Capital : {{img_data.2}}</br>
        <label style = "width:120px;" style = "height:100px;"><img src ="{{flag}}" /></label><br/>
        <a href="https://en.wikipedia.org/wiki/{{country}}">{{country}} 정보 더보기 (LINK)</a> 
        <div id="chart"></div>      
    </div>
    <script> 
        $(function(){               
            // string을 그대로 받으면 에러가 나니까 replace로 문자를 제외한 나머지 것들을 공백처리
            var str1 = '{{xlist}}'
            str1 = str1.replace(/&#x27;/gi, "'");
            str1 = str1.replace(/&#39;/gi, "'");
            console.log(str1)
            var obj1 = eval(str1)  //python 문자를 script 배열로 변환
            console.log(obj1)

            obj1.unshift('x');
            console.log(obj1)

            var obj =eval('{{list}}')

            obj.unshift('{{country}}');
            console.log(obj)

                // 차트의 x축, y축의 값을 결정
            var chart = c3.generate({
                bindto: '#chart',
                data: {
                    x: 'x',
                    y: 'y',
                    columns: [
                        obj1,  obj,
                    ],
                    type: 'bar'
                },

                // 현재 x축의 값을 결정
                axis: { 
                    // x축의 높이를 결정
                    x: {
                    // type 을 카테고리로 해야 문자열이 나온다 안 하면 Error
                        type : 'category',
                        height: 80,
                    //     tick: {
                    //         values: [1960, 1965, 1970, 1975, 1980, 1985,1990,1995,2000,2005,2010,2015,2018]
                    //     }
                    },

                    // y축의 범위 결정 및 라벨 제목 설정
                    y: { 
                        label : 'GDP (Current USD)',
                        tick  : {
                    // y축의 포맷 설정 ($,d)
                            format: d3.format("$,d"),
                        }    
                        // max: 30000000000000,
                        // min: -100,
                    }
                },
                // 그리드의 범위 지정
                // regions: [  
                //     {start:1979, end:1980, class:'foo'},
                //     {start:1980, end:1983, class:'foo1'}
                // ]
                // 차트의 크기 설정
            });
            setTimeout(function () {
            chart.resize({height:550, width:600})
            }, );
            // 이 위에 숫자를 입력하면 1/1000초 단위로 딜레이 되어 표시 된다
            //     // 그리드 설정
            // setTimeout(function () {
            //     chart.xgrids([
            //             {value: 1973, text: '제1차 석유파동(1973)'}, 
            //             {value: 1980, text: '제2차 석유파동(1979~1980)'}, 
            //             {value: 1983, text: '유럽 경기침체(1980~1983)'}, 
            //             {value: 1985, text: '플라자 합의(1985)'}, 
            //             {value: 1994, text: '일본 버블경제 붕괴(1994)'},
            //             {value: 1997, text: 'IMF(1997)'},
            //             {value: 2007, text: '서브프라임 모기지 사태(2007)'},
            //             {value: 2011, text: '동일본 대지진(2011)'},
            //             {value: 2016, text: '브렉시트(2016)'},
            //             {value: 2018, text: '현재'}
                        
            //         ]);
            // }, 500);
        })
    </script>       
</body>
</html>