<!DOCTYPE html>
<html lang="en">
<!-- head  -->
{% include '../main/head.html' %}

<!-- body  -->
<body>
<!-- nav.html -->
{% include '../main/navbar.html' %}

    {% autoescape off %}
    <div class= "container">
    <input type='button' value = '뒤로가기' onclick = 'history.back();'/>   

        <form action='/service/search_country_graph' method='GET' id = 'form1' >
            <label>
                <select class='form-control'  name='CountryName' id = 'CountryName1'>
                    <option value='' selected>-- 선택 --</option>
                    
                    {% for one in list %}
                        <option value='{{one.CountryName}}'>{{one.CountryName}}</option>
                    {% endfor %}
                </select>
            </label>
            <input type='submit' value = '그래프 보기'id = 'search1'/>  
        </form>
    </div>
    {% endautoescape %}
    <script>

        $("#search1").click(function(){
            if ($('#CountryName').val() == "" || $('#CountryName1').val() == "" ){
                alert('정확한 값을 입력해주세요 = 나라이름 선택 ')
                $("#CountryName").focus();
                return false;
            }   
            else {
                
                   $('#form1').submit()
            }
        })  
    </script>
</body>
</html>


<!--{% autoescape off %}
{{df_table}}
{% endautoescape %}-->