{% extends 'test/base.html'%}

{% load static %}
{% block title %} 첫페이지{% endblock %}

{% block content %}

		<!-- Main -->
		<div id="main">
			<div class="inner">
				<header>
					<h1>This is GDPproject<br />
						Wellcome 🤗</h1>
						{% if not request.user.is_authenticated %}
              				<p> 반갑습니다. 게스트님</p>
							{% else %}
							<p> 반갑습니다. {{request.user.name}}님</p>
							{% endif %}
					<!-- <p> 내 정보 나열</p> -->
				</header>
				<hr>
				<section class="tiles">
					<article class="style1">
						<span class="image">
							<img src="https://images.unsplash.com/photo-1586717791821-3f44a563fa4c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
								alt="" />
						</span>
						<a href="/service/search_detail">
							<h3>CodeName_001</h3>
							<div class="content">
								<p>아직 몰라 -> 한줄이 적당해</p>
							</div>
						</a>
					</article>
					<article class="style2">
						<span class="image">
							<img src="https://images.unsplash.com/photo-1613493780903-83fca7bb9c17?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1310&q=80"
								alt="" />
						</span>
						<a href="Project CodeName_002.html">
							<h3>CodeName_002</h3>
							<div class="content">
								<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
							</div>
						</a>
					</article>
					<article class="style3">
						<span class="image">
							<img src="images/pic03.jpg" alt="" />
						</span>
						<a href="#">
							<h3>CodeName_003</h3>
							<div class="content">
								<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
							</div>
						</a>
					</article>

				</section>
				<br>
				<hr>
			</div>
		</div>

<!-- content -->

        {% endblock %}
