

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">Solid State</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="/">Home</a></li>
								{% if not request.user.is_authenticated %}
								<li><a href="/member/sign_in">Log In</a></li>
								<li><a href="/member/sign_up">Sign Up</a></li>
								{% else %}
								<li><a href="/member/user_mypage">My Page</a>
								<li><a href="/member/sign_out"> Sign Out </a>
								{% endif %}
								<li><a href="/board/board_qna"> Q & A </a>
								<li><a href="generic.html">Generic</a></li>
								<li><a href="elements.html">Elements</a></li>

							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>